* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Note: These colors are jumbled up, if you continue this project, organize your colors...PLEASE*/
:root {
    --primary-color: #403221;
    --light-color: #E5AA7A;
    --dark-color: #232426;
    --light-gray: #D0C4BC;
    --header-color: #D9C697;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
}

a {
    text-decoration: none;
    color:white;
}

ul {
    list-style: none;
}

img {
    max-width: 450px;
}

/* Navbar */
.navbar {
    background-color:#D9C697;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 300;
    transition: 0.5s;
}

.navbar ul li a:hover{
    color: var(--primary-color);
}

.navbar ul li a i {
    margin-right: 10px;
}

/* Hero */
.hero{
    margin-bottom: 50px;
}

.hero .container {
    background: url('../images/Arti.png') no-repeat;
    background-size: contain;
    background-position: right bottom;
    height: 430px; 
}

.hero .hero-content{
    width: 70%;
}

.hero .hero-text{
    width: 70%;
    margin-bottom: 20px;
}

/* Subject Matter */
.subjectMatter{
    margin-top: 50px;
}

.subjectMatter .container {
    background: url('../images/Subject\ Matter.png') no-repeat;
    background-size: 1100px;
    background-position: center bottom;
    height: 800px;
    max-width: 1500px;
    max-height: 900px;
    background-color: var(--header-color);
    width: 1300px;
}


.subjectMatter .subjectMatter-content{
    width: 90%;
    padding-left: 100px;
    padding-top: 5px;
    
}

.subjectMatter .subjectMatter-text{
    width: 70%;
    margin-bottom: 20px;
    color: white;
    
}

/* Testimonials */
.testimonials{
    margin-bottom: 0px;
}

.testimonials .testimonials-content{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    align-content: center;
    display: flex;    
}

.testimonials .container {
    background: url('../images/Testimonials.png') no-repeat;
    background-size: 1100px;
    background-position: center bottom 40px;
    height: 850px;
    max-width: 1500px;
    max-height: 900px;
    background-color: #928667;
    
}

/* Problem Statement */
.problemStatement .container {
    background: url('../images/Problem\ Statement.png') no-repeat;
    background-size: 970px;
    background-position: center bottom;
    height: 900px;
    max-width: 1500px;
    max-height: 900px;
    
}

.problemStatement .problemStatement-content{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    align-content: center; 
}

.problemStatement .problemStatement-text{
    width: 100%;
    margin-bottom: 20px;
}

/* Goal */

.goal .container{
    padding-bottom: 150px;
}

.goal .goal-content{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 80px;
    align-content: center; 
}

.goal .goals-content{
    width: 100%;
}

.goal .goal-text{
    width: 100%;
    margin-bottom: 20px;
}

.goal .goal-sub{
    text-align: left;
}

/* Footer */
.footer{
    padding: 40px 0;
}

.footer h4{
    color: white;
    font-weight: 600; 
    margin-bottom: 10px;
}

.footer h4 .h4-alt{
    margin-bottom: 5px;
    color: white;
    font-weight: 600; 
}


.footer ul li{
    line-height: 2.5;
}

.footer ul li a:hover{
    color: var(--primary-color);
}

.footer a{
    color:white;
    transition: 0.5s;
    font-weight: 200;
}

.footer i{
    font-size: 1.5rem;
    margin-right: 10px;
    color: white;

}

.footer-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.footer .card{
    margin: 20px 30px 30px 0;
}

.footer input[type='email']{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(155, 153, 153);
    border-radius: 5px;
    margin: 20px 0;
}

/* Tool Content */

.tools .container{
    background-size: contain;
    background-position: right bottom;
    height: 450px; 
}

/* Origin Image Content */

.originImage .container{
    background-size: contain;
    background-position: right bottom;
    height: 1300px;
}

.originImage .originImage-content{
    width: 90%;
    padding-left: 100px;
    padding-top: 5px;
    
}



/* Utility Classes */
.container {
    max-width: 1100px ;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px ;
    margin: 0 auto;
    padding: 0 15px;
}

.bg-dark{
    background-color: #928667;
}

.bg-light{
    background-color: var(--header-color);
}

.card{
    background: white;
    color:black;
    border-radius: 10px;
    padding: 20px;
}


/* Buttons */
.btn {
    display: inline-block;
    padding: 15px 30px;
    background: var(--light-color);
    margin-right: 5px;
    font-weight: 400;
    text-decoration: none;
    font-size: medium;
    border: none;
    border-radius: 20px;
    cursor:pointer;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--light-color);
}

.btn-dark {
    background: var(--light-gray);
    color: #494A4D;
}

.btn-block {
    display: block;
    width: 100%;
}

/* Text Classes */

/* This is style is being used in the Hero */
.text-xxl {
    font-family: 'Roboto Flex';
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 450;
    margin: 40px 0 20px;
    color: var(--light-color);
}

/* These is styles are being used in the Subject Matter and Testimonital */
.text-xxl-alt {
    font-family: 'Roboto Flex';
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 450;
    margin: 40px 0 20px;
    color: white;
}

.text-xxl-alt-testimonial {
    font-family: 'Roboto Flex';
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 450;
    margin: 40px 0 20px;
    color: white;
    text-align: center;
    padding-left: 100px;
}

.text-xxl-alt-OriginImage{
    font-family: 'Roboto Flex';
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 450;
    margin: 40px 0 20px;
    padding-top: 50px;
    color: white;
}

.text-sm {
    font-family: 'Roboto Flex';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 300;
    margin: 40px 0 20px;
    color: white;
}

.text-sm-alt {
    font-family: 'Roboto Flex';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    margin: 40px 0 20px;
    color:#928667;
}

/* This styled used in Footer */
.text-sm-alt-p {
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
    font-weight: 300;
    margin: 20px 10 20px;
    color:#928667;
}

/* These styles are being used in the Problem Statement and Goal, the p stands for poppins font */

.text-p-xxl{
    font-family: 'Poppins';
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 400;
    margin: 10px 0 20px;
    color: #494A4D;
    text-align: center;
    padding-left: 80px;
}

.text-p-xxl-alt{
    font-family: 'Poppins';
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 400;
    margin: 40px 0 20px;
    color: var(--light-color);
    text-align: center;
    padding-left: 80px;
}

.text-p-sm{
    font-family: 'Poppins';
    font-size: 17px;
    line-height: 1.2;
    font-weight: 300;
    margin: 10px 0 20px;
    color: #232426;
    text-align: center;
    padding-left: 90px;
    padding-bottom: 50px;
    
}

.text-p-m-alt{
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    margin: 10px 0 20px;
    color: #232426;
    text-align: center;
    padding-left: 90px;
    padding-bottom: 50px;
    
}

/* These styles are being used in Goal */

.text-p-subheading-one{
    font-family: 'Poppins';
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
    color: #928667;
    text-align: left;
}

.text-p-subheading-two{
    font-family: 'Poppins';
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
    color: var(--header-color);
    text-align: left;
}

.text-p-m {
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 330;
    margin: 40px 0 20px;
    color: #232426;
}

.text-center {
    text-align: center;
}

.goal li {
    list-style-type: disc;
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    margin: 40px 0 20px;
    color: #232426; 
 }

 .indented-list {
    margin-left: 40px; /* Adjust this value to increase or decrease the indentation */
  }

 /* These styles are for tools*/

 .text-p-m-tools{
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    margin: 10px 0 20px;
    color: white;
    padding-bottom: 20px;
    
}

 .tools li{
    list-style-type: none;
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    margin: 30px 0 0px;
    color: #232426; 
 }

 .originImage li{
    list-style-type: circle;
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    margin: 10px 0 0px;
    color: white; 
 }


 .text-p-subheading-three{
    font-family: 'Poppins';
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
    margin: 40px 0 20px;
    color: whitesmoke;
    text-align: left;
    padding-top: 100px;
}


  /* Image Classes */
  .pallet-image {
    position: absolute;
    top:3150px; 
    left: 150px; 
  }

  .askArt-image {
    position: absolute;
    top:3500px;
    left: 900px; 
  }

  .Arti{
    position: absolute;
    top:250px;
    left: 50px;

  }

  .PHASH {
    position: absolute;
    top:890px;
    left: 920px; 
  }

  .KNN {
    position: absolute;
    top:1430px;
    left: 920px; 
  }
